<section id="footer">
    <div class="container">
        <center>
    		<div class="container">
    		    <div id="footer-contact-text">
                  <p>Contact us: info@winelist.com<p>
                </div>
                <div id="footer-copyright">
    		            <p>© Copyright Yekaterina Biryukova 2017</p>  		                   
    		        </div>
    		</div><!--end .container-->
    	</center>
    </div><!--end .container-->
</section><!--end #footer-->