#search-btn{
    color:#ff666a;
    background-color: #f6f6f4;
    border: 1px solid #ff666a;
    }
    form input {
        width: 250px;
        height: 37px;
        border-radius: 5px;  
        outline: none;
        box-shadow:none;
        border: 1px solid #ff666a;;
    }
    form {
        padding-top: 2%;
    }