#home{
    padding: 0;
} 
main {
    height:100%;
    width:100%;
    margin: 0; 
    padding:0 !important;

}
.block1 {
    height:100%;
    background-image: url('../images/background.jpg'); 
    background-position: center center; 
    background-size: cover;
}

header{
    display: block;
    text-align: center;
}
.homeh1, .homeh2 {
    color: #f6f6f4;
    opacity: 0.8;
}

.homeh1 {
    padding-top:5%;
    font-size: 4em;
}

.homeh2 {
    font-size: 2em;
    font-weight: 600;

}
.buttons-wrapper {
margin:auto 0;
width: 100%;
margin-top: 2%;
}
.buttons-wrapper div a{
width: 400px;
height: 100px;
color: #f6f6f4;
font-size: 2.5em;
}

.buttons-wrapper div {
    padding-bottom: 10px;
}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .homeh1{
        font-size: 10em;
    }

    .homeh2{
        font-size: 7em;
    }

    .block1{
        background-image: url('../images/background-sml.jpg'); 
    }

    // ----LOGIN FORM------
    .login-container-mobile {
        width: 100%;
        h1{
            padding-top: 10%;
            margin-left: 4%;
            margin-right:4%;
            font-size: 4.5em;
        }
        #loginbox{
            margin-left: 15%;
            font-size: 2.5em;
            h3 {
                font-size: 2em;
            }
            input{
                font-size: 2.5em;
            }
            button {
                font-size: 1em;
            }
            input{
                height: 2em;
                width:140%;
                font-size:1.1em;
            }
        }
    }

    .buttons-wrapper{
        height: 260px;
        margin-top: 4%;
    }

    .buttons-wrapper div a{
        width: 60%;
        height: 100px;
        padding-top: 2%;
        font-size: 250%
        
        }

}