.wine-cont {
    width:70%;
}
.wine-details-holder{
    background-color:  #f6f6f4;
    float:left;
    overflow: hidden; 
    padding-top: 2%;
    
    h4{
        text-align: left;
        padding-left: 25%;
        
    }

    img {
        max-height: 459px;
        margin-bottom: 3%;
    }
}
.details-and-comments {
    float: right;
    margin-left: 0;
    overflow: hidden; 
    padding-top: 2%,
}
.comments-block {
 text-align: left;
}

.comment-text {
    background-color: rgb(221, 231, 219);
    border-radius: 6px; 
    font-size: 16px;   
    padding: 1% 2%; 
    font-style: italic; 
}
.comment-username {
font-style: italic;
font-weight: 600;
}

.wine-show-h2 {
    padding-bottom: 2%;
}


.btn-with-link,.comment-form button  {
    height: 30px;
}

.comments-form-wrapper{
    margin:0;
 
}

.edit-btn-wrapper button, .comment-form-wrapper button{
   min-width: 40px;
   height: 22px;
   font-size: 14px;
   border: none;
   background-color: transparent;
   text-align: left;
   font-weight: 400;
  
}
.edit-btn-wrapper, .comment-form-wrapper{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.add-comment-btn{
    color:#ff666a;
    background-color: #f6f6f4;
    border: 1px solid #2b5737;
    border-radius: 4px;
    margin-top:1%;
    }
.comment-form input {
        // width: 250px;
        // height: 37px;
        // border-radius: 5px;  
        // outline: none;
        // box-shadow:none;
     border: 1px solid #2b5737;
}

.comment-form {
    padding-top:0;
 }

    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
        .wine-cont {
           
          h4{
              padding-left: 5%;
              font-size: 200%;
          }

          h3{
              font-size: 250%;
              padding-top: 5%;
              padding-bottom: 2%;
          }

         .comment-username, .comment-text{
            font-size: 200%;
          }

          .comment-form input {
            width: 98%;
            height: 120px;
            word-wrap: normal;
            }
        }
        
        .comment-form button{
            height: 45px;
            font-size: 150%;
        }

        .edit-btn-wrapper button{
            font-size: 150%;
        }
    }