<div class= "container-fluid block1" id="home">
<header>
<% if (locals.isLoggedIn) { %>
<h1 class="homeh1"><%= locals.user.username %>'s Wine List</h1>


<div class="buttons-wrapper">

<div>
<a name="" id="" class="btn btn-lg" href="/search" role="button" style="background-color:transparent; border:1px solid #f5f5f1">Search</a>

</div>
<div class="btn2">
<a name="" id="" class="btn btn-lg" href="/list" role="button" style="background-color:transparent; border:1px solid #f5f5f1">See your items</a>

</div>
</div>
 <% } else { %>
<h1 class="homeh1">Welcome to Wine List</h1>
<h2 class="homeh2">Join us and create your own</h2>
   <% } %>
</header>      
</div>


 