<div class= "container-fluid block1" id="home">
<header>
<% if (locals.isLoggedIn) { %>
<h1 class="homeh1"><%= locals.user.username %>'s Wine List</h1>
<a name="" id="" class="btn" href="/search" role="button">Search</a>
<a name="" id="" class="btn" href="/list" role="button">See your items</a>

 <% } else { %>
<h1 class="homeh1">Welcome to Wine List</h1>
<h2 class="homeh2">Join us and create your own</h2>
   <% } %>
</header>      
</div>


 