
<div class="container" style="text-align:left">    
<h1>Welcome back to your wine list!</h1>

    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            
        <div class="panel panel-info" >
         <div class="panel-heading">
         <div class="panel-title"><h3>Login</h3></div>                        
         </div>     
            <div style="padding-top:30px" class="panel-body" >
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                <form method="POST" action="/login">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                    <button class="btn btn-success"  style="background-color:#39392D">Login</button>

                </form>
                                    
            </div>  
             
        </div>
        
    </div>

</div> 
                                    

    