<h1>Wine List</h1>
<p>editejs wines</p>

<div class="row">
    <div class="col-md-8">
      <div class="card">
         <form method="PUT" action="/wines/<%= wine.id %>">
          <input type="hidden" name="_method" value="PUT">
         
          <label for="name">Wine name</label>
          <input type="text" name="name" id="name" placeholder="wine name" class="form-control" value="<%= wine.name %>">

          <label for="vinyard">vinyard</label>
          <input type="text" name="vinyard" id="vinyard" class="form-control" value="<%= wine.vinyard %>">

          <label for="description">Tasting Notes</label>
          <textarea name="description" id="description" placeholder="tasting notes" class="form-control"><%= wine.description %></textarea> 
       
          <input type="hidden" name="_method" value="save">
          <button class="btn btn-info">Save</button>
        </form>
      </div>
    <div>
  </div>         
