<div class="container-fluid" id="wines">  
<h1>Users favorites</h1>  
                           
    <div class="container-fluid">
       <div class="row" id="#holdstuff"><% wines.forEach((wine) => { %>
              <div class="card-deck">
                    <div class="card" id="winecard">
                      <img class ="card-img-top" src="https://www.iconexperience.com/_img/g_collection_png/standard/256x256/wine_bottle.png" alt="<%= wine.product %>">
                        <div class="card-block">  
                            <a href="/wines/<%= wine.id %>">
                            <h5 class="card-title"><%= wine.product %></h5></a>
                              <p class="card-text"><%= wine.winery %></p> 
                        </div>
                      </div> 
                </div>
                <% }) %>
           </div>
      </div>
           
</div>
    
  
